{% extends "base/base.html" %}
{% load staticfiles %}
{% block title%}CalendArt{% endblock %}
{% block content %}
<!-- Inicio de productos -->
<section class="content">
  <div class="container">
    <div class="row">
      {% if messages %}
      <ul class="messages" style="text-align:center;">
        {% for message in messages %}
    		{% csrf_token %}
        <h2{% if message.tags %} class="{{ message.tags }}"{% endif %} style="text-size:20px;text-weight:bold;color:skyblue; margin: 0 0 0;">{{ message }}</h2>
        {% endfor %}
      </ul>
      {% endif %}

<!--
      <div class="grid_4">
        <div class="banner">
      <div class="gall_block">
          <img src="{%static 'images/page1_img1.jpg'%}" alt="">
          <div class="bann_capt ">
            <div class="maxheight">
              <img src="{%static 'images/icon1.png'%}" alt="">
              <div class="bann_title">La mejor comida italiana, donde no se podra encontrar
              en otra parte</div>

            </div>
          </div>
        </div>
     </div>
      </div>
      <div class="grid_4">
        <div class="banner">
      <div class="gall_block">
          <div class="bann_capt  bn__1">
            <div class="maxheight">
              <img src="{%static 'images/icon2.png'%}" alt="">
              <div class="bann_title">Ademas de ofrecer comida variada, ofrecemos un gran servicio</div>

            </div>
          </div>
          <img src="{%static 'images/page1_img2.jpg'%}" alt="">
        </div>
    </div>
      </div>
      <div class="grid_4">
        <div class="banner ">
      <div class="gall_block">
          <img src="{%static 'images/page1_img3.jpg'%}" alt="">
          <div class="bann_capt  bn__2">
            <div class="maxheight">
              <img src="{%static 'images/icon3.png'%}" alt="">
              <div class="bann_title">En cuanto a ofertas se refieren, nuestro restaurante, da las mejores
              promociones</div>

            </div>
          </div>
      </div>
        </div>
      </div>
    -->
    <div class="grid_12">
      <h2>Próximos Eventos de {{cat.name}}</h2>
    </div>

    {%for evento in object_list%}
        <div class="grid_3">
          <div class="banner">
            <div class="gall_block">
              <img src="{{MEDIA_URL}}{{evento.image_profile}}" alt="" width= '370px' height= '185px'>
              <div class="bann_capt  bn__1">
                <div class="maxheight">
                  {% if cat.image_profile %}
                    <img src="{{MEDIA_URL}}{{ cat.image_profile }}" alt="" height="40px" width="40px" style="padding-top:20px;">
                    {% endif %}
                    <div class="bann_title" style="font-size:24px; line-height:20px;"><a href="{% url 'event:detalle_evento' evento.id %}">Evento: {{evento.title}}</a></div>
                    <div style="font-size:20px;">
                    <p style="line-height:25px;"><h5 style="line-height:25px;">Lugar: {{evento.location}}</h5></p>
                    <p style="line-height:25px;"><h5 style="line-height:25px;">Fecha y Hora: {{evento.date}} {{evento.time}}</h5></p>
                    <p style="line-height:25px;"><h5 style="line-height:25px;">Estado: {{evento.state}}</h5></p>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    {%endfor%}


<!--
    <div class="grid_12">
      <h2>Promociones </h2>
    </div>

    {%for promo in promocion%}
        <div class="grid_4">
          <div class="banner ">
            <div class="gall_block">
              <img src="{{promo.imagen.url}}" alt="" width= '370px' height= '305px'>
              <div class="bann_capt  bn__1">
                <div class="maxheight">
                  <img src="{%static 'images/icon1.png'%}" alt="">
                    <div class="bann_title">{{promo.nombre}} <br> {{promo.descripcion}}</div>
                </div>
              </div>
            </div>
        </div>
      </div>
    {%endfor%}


    <div class="grid_12">
    </div>

<!-- Fin de productos y promociones -->
<!--
      <div class="grid_12">
        <div class="box">
          <div class="row">
            <div class="grid_5 preffix_1">
              <h2>Welcome</h2>
              <p>Post about this <strong class="color1"><a href="http://blog.templatemonster.com/free-website-templates/" rel="nofollow">freebie</a></strong> will tell all you need to know about it. Need a good choice of <strong class="color1"><a href="http://www.templatemonster.com/properties/topic/food-restaurant/" rel="nofollow">themes</a></strong>? Visit TemplateMonster’s website.</p>
              Aliquam nibh e,estas id dictum a, commodo. Praesent faucibus malesuada faucibusonec laeet metus id laoreet malesuadarem ipsum dolor sit <br>
            </div>
            <div class="grid_5">
              <h2>Feel the Savor of Life</h2>
              Dervamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a, commodo. Praesent faucibus malesuada ucibus. Donec laeet metus id laoreet malesuadarem ipsum dosit ametctetur adipiscing elit. Nullam consectetur orci sed nulla facilisis consequat. Curabitur vel lorem sit amet nulla ullamcorper fermentum. <br>
            </div>
          </div>
        </div>
      </div>
-->
    </div>
  </div>
</section>
{% endblock %}
