{% extends "base/base.html" %}

{% load staticfiles %}

{% block style %}
<style>
table {
  border: 1px solid black;
  width: 50%;
}

thead, td {
  border: 1px solid black;
  text-align: center;
  color: black;
  padding: 8px;
  vertical-align: middle;
}

tr:nth-child(even){background-color: #C9FFC9;}

thead {
  background-color: #4CAF50;
}

body{
  background-color: white;
}

.fk{
  color: white;
  background-color: #663399;
  padding: 4px 30px;
  cursor: pointer;
  margin: 10px;
  text-align:center;
}

</style>
{%endblock%}

{% block title %}Solicitudes{% endblock title %}

{% block content %}
<center>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Foto de perfil</td>
        <td>Artista</td>
        <td>Nombre completo</td>
        <td>Opciones</td>
      </tr>
    </thead>
    <tbody>
      {% if solicitudes %}
      {% for solicitud in solicitudes %}
      <form class="" method="post">
      <tr>
        <td>
          <a href="{{ solicitud.image_profile.url }}"><img src="{{ solicitud.image_profile.url }}" style="width:150px;height:140px;"></a>
        </td>
        <td>{{ solicitud.username }}</td>
        <td>{{ solicitud.first_name }} {{ solicitud.last_name }}</td>
        <td>
          <a class="fk" href="{% url 'member:request_detail' solicitud.id %}"></a>
          <a class="fk" href="#">Denegar</a>
          <a class="fk" href="#">Autorizar</a>
        </td>
      </tr>
      </form>
      {% endfor %}
      {% else %}
      <h3>No hay solicitudes pendientes!!!</h3>
      {% endif %}
    </tbody>
  </table>
  <br>
  <br>
  <div class="pager" style="display: flex;justify-content: center;">
    {% if page_obj.has_previous %}
    <a class="fk" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}
    {% if page_obj.has_next %}
    <a class="fk" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    {% endif %}
  </div>
</center>
{% endblock content %}
